body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(208, 216, 223);
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 100vh;
}



.hh1{
    font-weight: 999;
}

.hh1 span {
    font-weight: 300;
    font-size: 32px;
}

.hh3,.pp2,.hh4,.pp3,.hh2{
    text-align: center;
}

.input-area {
    display: flex;
    justify-content: space-evenly;
    height: 5vh;

}

.input-area input {
    padding-left: 1vh;
    border: 1px solid lightblue;
    border-radius: 5px;
}



main {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
}



.productive,  .distractions {
    width: 60vh;
    height: 30vh;
    background-color: lightgreen;
    border-radius: 15px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.distractions {
    background-color: rgb(226, 154, 154);
}




.productive input, .distractions input {
    height: 5vh;
    width: 45vh;
    border-radius: 8px;
    border: 1px solid lightgreen ;
    padding-left: 2vh;
}


.distractions input {
    border: 1px solid  rgb(226, 154, 154);
}

.inp1{
    width: 92vh;
    height: 4vh;
    border-radius: 5px;
    border: 1px solid rgb(234, 171, 234);
    padding-left: 2vh;
}

.prodDi {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3vh;
    align-items: center;
}

.daily-affirmation,.top-3-to-dos {
    width: 120vh;
    height: 22vh;
    background-color: rgb(234, 171, 234);
    border-radius: 16px;
    padding-left: 3vh;
}


.top-3-to-dos{
    background-color: lightblue;
}

.inp-area {
    display: flex;
    justify-content: center;
}

.sec1 {
    text-align: center;
}

.workBalance {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12vh;
    align-items: center;
}

.workBalance div img {
        margin-top: 5vh;
}

.box1,.box2,.box3,.box4 {
    background-color: rgb(181, 200, 203);
    width: 70vh;
    height: 45vh;
    border-radius: 12px;
    text-align: center;
  
}

.workBalance input {
    width: 50vh;
    height: 6vh;
    border-radius: 8px;
    border: 1px solid  rgb(181, 200, 203) ;
    padding-left: 4vh;
}